<template name="adForm">
{{#with formData}}
<form>
	<div class="form-group">
		<label>Personal Info</label>
		<input type="text" name="firstName" class="form-control" placeholder="Your Name" value={{firstName}}>
		<input type="text" name="lastName" class="form-control" placeholder="Your Name" value={{lastName}}>
		<input type="text" name="phone" class="form-control" placeholder="###-###-####" value={{phone}}>
	</div>
	<div class="form-group">
		<label>Catch Info</label>
		<input type="text" name="fish" class="form-control" placeholder="Species">
		<input type="text" name="size" class="form-control" placeholder="Weight of each">
		<input type="text" name="quantity" class="form-control" placeholder="Quantity">
		<input type="text" name="price" class="form-control" placeholder="Price">
		<input type="radio" name="perPound" id="pound" value="True" checked="checked" /><label for="pound">Per Pound</label>
		<input type="radio" name="perPound" id="perFish" value="False" /><label for="perFish">Per Fish</label>
		<input type="radio" name="wholeFish" id="whole" value="True" checked="checked" /><label for="whole">Whole Fish</label>
		<input type="radio" name="wholeFish" id="filet" value="False" /><label for="fish">Filets Available</label>
		<select name='loc'>
			<option value=0>All of Oahu</option>
			<option value=1>Town</option>
			<option value=2>North Shore</option>
		</select>
		<textarea name="addDet">additional details</textarea>
	</div>
	<button type="submit" class="btn btn-lg btn-primary btn-block">Create Ad</button>
</form>
{{/with}}
</template>